@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-white text-gray-900;
}

body.dark {
  @apply bg-gray-900 text-white;
} */
/* html {
  @apply bg-white text-gray-900;
}

html.dark {
  @apply bg-black text-white;
} */

body {
  font-family: var(--font-poppins);
}
html {
  scroll-behavior: smooth;
}

html.dark {
  @apply bg-black text-white;
}

.bg-ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1574px;
  width: 100%;
  height: 80px;
  border-radius: 50%;
  background: #09f;
  filter: blur(180px);
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 768px) {
  .bg-ellipse {
    width: 100%; /* Adjust size for smaller screens */
    height: 60px;
  }
}

.blurred-circle {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(25%, -50%);
  width: 57px;
  height: 1212px;
  border-radius: 1212px;
  background: #09f;
  filter: blur(180px);
  z-index: -1;
}

.blurred-decorator {
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 469px;
  height: 489px;
  border-radius: 50%;
  background: #09f;
  filter: blur(425px);
  transform: rotate(90deg);
  z-index: -1;
  flex-shrink: 0;
}

.blurred-decorator-right {
  position: absolute;
  bottom: -50px;
  right: -15px;
  width: 469px;
  height: 489px;
  border-radius: 50%;
  background: #09f;
  filter: blur(425px);
  transform: rotate(90deg);
  z-index: -1;
  flex-shrink: 0;
}

.circle-shadow-left-bottom {
  position: absolute;
  bottom: -180px;
  left: 0px;
  width: 200px;
  height: 300px;
  border-radius: 247px;
  background: #09f;
  filter: blur(180px);
  z-index: -1;
}

.circle-shadow-right-middle {
  position: absolute;
  top: 30%;
  right: 0;
  width: 200px;
  height: 300px;
  border-radius: 266px;
  background: #09f;
  filter: blur(180px);
  z-index: -1;
}

.footer-shadow {
  position: absolute;
  top: -32px; /* Adjust to position it above the footer */
  left: 50%;
  transform: translateX(-50%);
  width: 1212px;
  height: 64px;
  border-radius: 1212px;
  background: #09f;
  filter: blur(180px);
  z-index: -1; /* Ensure it's behind the footer content */
}

.rotated-shadow-left {
  position: absolute;
  width: 1212px;
  height: 64px;
  border-radius: 1212px;
  background: #09f;
  filter: blur(180px);
  transform: rotate(90deg);
  left: -500px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: -1; /* Ensure it stays behind the content */
}

@media (max-width: 992px) {
  .blurred-decorator,
  .blurred-circle,
  .blurred-decorator-right,
  .circle-shadow-left-bottom,
  .circle-shadow-right-middle,
  .footer-shadow,
  .rotated-shadow-left {
    display: none;
  }
}
